#navgyuruk {
	height: 60px;
}

.navbar-brand p {
	margin-top: 7px;
	margin-bottom: 0;
}

nav .navbar-brand {
	font-family: 'Parisienne', cursive;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul li a {
	font-size: 1.5rem !important;
	font-family: 'Caveat', cursive;
}

#hero {
	background-image: url(img/hatter.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

#hero .row {
	position: relative;
}

#hero #dateAndNames {
	background-image: url(img/szivszoveggel.png);
	position: absolute;
	height: 100vh;
	background-position: center;
	background-size: cover;
}

#goldRing {
	position: absolute;
	background-image: url(img/ring.png);
	height: 100vh;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	animation-name: rotate;
  animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes rotate {
  0%   {
		transform: rotate(40deg);
	}
  100% {
		transform: rotate(400deg);
	}
}

.placeBlock {
	font-family: 'Oooh Baby', cursive;
	text-align: center;
}

#place {
	height: 300vh;
	position: relative;
}

.bgN1 {
	background-image: url(img/wedding-6486579.jpg);
	background-size: cover;
	background-position: 12% bottom;
	background-repeat: no-repeat;
	height: 100vh;
	position: sticky;
	top: 0;
}

.bgN2 {
	background-image: url(img/ujpest.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	position: sticky;
	top: 0;
}

.divider {
	height: 4.5rem;
}

.dividerLast {
	height: 20rem;
}

#place h2 {
	margin-top: -55vh;
	margin-bottom: 30vh;
	font-size: 2.5rem;
	position: sticky;
	top: 20vh;
	z-index: 99;
}

#place h3 {
	position: sticky;
	font-size: 1.25rem;
	top: 27.5vh;
	z-index: 99;
}

#place h4 {
	position: sticky;
	font-size: 3rem;
	top: 31.25vh;
	z-index: 99;
}

#place h5 {
	position: sticky;
	font-size: 2rem;
	top: 40.25vh;
	z-index: 99;
}

#place h6 {
	position: sticky;
	font-size: 2rem;
	top: 46.25vh;
	z-index: 99;
}

.strokeme {
  color: #000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}



/* 
font-family: 'Alex Brush', cursive;
font-family: 'Caveat', cursive;
font-family: 'Oooh Baby', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Sacramento', cursive;
 */